@import "config";
body {
  // background-color: $secondary-color;
  // height: 100vh;

  font-size: 2rem;
  // font-family: "Rubik", sans-serif;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@mixin btn {
  cursor: pointer;
  text-decoration: none;
  border: none;
  color: white;
  background-color: $primary-color;
  height: 3.5rem;
  border-radius: 5px;
  padding: 2rem 2.4rem;
  @include Flebo-parallel;

  font-size: 1.4rem;
  font-weight: 500;
}
.container {
  max-width: $mobile;
  margin: 0 auto;
  padding: 0 5rem;
}
.not-found {
  h1 {
    font-size: 6rem;
    text-align: center;
    color: $primary-color;
  }
  p {
    color: #747474;
    font-size: 2rem;
    margin-bottom: 4rem;
  }
  .link {
    margin-left: auto;
    font-size: 1.6rem;
    color: $primary-color;
    text-decoration: none;
    &:hover {
      color: #747474;
    }
  }
}
.home {
  margin-top: 8rem;
  .btn--create {
    @include btn;
    height: 7rem;
    margin-bottom: 5rem;
    &:hover {
      background-color: $secondary-color;
    }
  }
}
.crudlist {
  // width: 800px;
  margin-top: 10rem;
  font-size: 2rem;
  border: 1px solid $primary-color;
  border-collapse: collapse;
  th {
    border: 1px solid $primary-color;
    // height: 4rem;
    padding: 0.8rem 1.4rem;
    text-align: left;
  }
  td {
    border: 1px solid $primary-color;

    padding: 0.8rem 1.4rem;

    // height: 6rem;

    // height: 4rem;
    text-align: left;
  }

  .btn {
    @include btn;
    &:hover {
      background-color: $secondary-color;
    }
    &--del {
      background-color: $secondary-color;
      &:hover {
        background-color: red;
      }
    }
  }
  tbody {
    height: 90rem;
    overflow: scroll;
  }
  &__preview {
    &--body,
    &--title {
      .btn--view {
        width: 4rem;
      }
      width: 50rem;
      height: 4rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &--title {
      width: 40rem;
    }
  }
}
.create {
  // max-width: 400px;
  margin: 10rem auto;
  text-align: center;
  label {
    text-align: left;
    display: block;
  }
  h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 30px;
  }
  select,
  input,
  textarea {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
  }
  button {
    width: 100%;
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 2rem;
    font-size: 3rem;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
      background-color: $secondary-color;
    }
  }
  .btn {
    @include btn;
    margin-top: 4rem;
    &:hover {
      background-color: $secondary-color;
    }
  }
}
.item-details {
  h2 {
    font-size: 5rem;
    color: $primary-color;
    text-align: center;
    margin-bottom: 1rem;
  }
  div {
    margin: 2rem 0;
    color: #747474;
  }
  em {
    font-size: 1.6rem;
  }

  .btn {
    // width: 8rem;
    @include btn;

    &:hover {
      background-color: $secondary-color;
    }
  }
  .btns {
    display: flex;
    gap: 5rem;
  }
}
// .crudlist {
//   border-collapse: collapse;
//   &__header {
//     // grid-template-columns: 7rem 7rem 1fr 2fr 12rem 12rem;
//     // border: 1px solid $primary-color;
//     // border-bottom: none;

//     // display: grid;
//     &--body,
//     &--id,
//     &--title,
//     &--user-id,
//     &--update,
//     &--delete {
//       padding: 0.8rem 1.6rem;
//       // border: 1px solid $primary-color;
//       // border-top: none;
//       // border-bottom: none;
//       // border-right: none;
//       // border-collapse: collapse;
//     }
//     &--id {
//       // border-left: none;
//     }
//     &--update {
//       .btn {
//         // display: inline-block;
//         // margin-bottom: 0 !important;
//       }
//     }
//   }
//   &__preview {
//     // grid-template-columns: 7rem 7rem 1fr 2fr 12rem 12rem;

//     // border: 1px solid $primary-color;
//     height: 7rem;
//     // display: grid;
//     // height: 11rem;
//     &--body,
//     &--id,
//     &--title,
//     &--user-id,
//     &--update,
//     &--delete {
//       display: flex;
//       align-items: center;
//       padding: 0.8rem 1.6rem;
//       // border: 1px solid $primary-color;
//       // border-top: none;
//       // height: 7rem;
//       // border-bottom: none;
//       // border-right: none;
//       // border-collapse: collapse;
//       overflow: hidden;
//       white-space: nowrap;
//       text-overflow: ellipsis;
//     }
//     &--id {
//       // border-left: none;
//     }

//     .btn {
//       @include btn;
//       &:hover {
//         background-color: $secondary-color;
//       }
//       &--del {
//         background-color: $secondary-color;
//         &:hover {
//           background-color: red;
//         }
//       }
//     }
//   }
// }
